<div class="row">
    <div class="col-6"><h1>Programs</h1></div>
    <div class="col-6 d-flex justify-content-end">
        <a href="/addPrograms" type="button" class="btn btn-primary align-self-center">+ プログラムを追加する</a>
    </div>
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">URL</th>
            <th scope="col">録音</th>
            <th scope="col" class="text-end">Action</th>
        </tr>
    </thead>
    <tbody>
        {{#each rows}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.Title}}</td>
            <td>{{this.URL}}</td>
            <td>{{this.Record}}</td>
            <td class="text-end">
                <a href="/editPrograms/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> 編集</a>
                <a href="/delete/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-person-x"></i> 消去</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>